/* Header */
.headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 20px 0;

    background-color: rgb(var(--white-color-rgb), 0);
    backdrop-filter: blur(0px);
    box-shadow: 0 10px 20px 0 rgb(var(--primary-color-rgb), 0);
    transition: var(--alt-transition);
}

.headerWrapper.active {
    padding: 12px 0;
    backdrop-filter: blur(10px);
    background-color: rgb(var(--white-color-rgb), 0.9);
    box-shadow: 0 0 20px 0 rgb(var(--primary-color-rgb), 0.2);
}

.headerWrapper header {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;

    max-width: 1400px;
    margin-inline: auto;
    padding: 0 30px;
}

/* logo */
header .site-logo { line-height: 0; }

header .site-logo img {
    width: 150px;
    height: auto;
}

/* naviagtion */
header .site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    gap: 50px;
}

header .site-nav ul > li a {
    position: relative;
    font-size: var(--font-size-base);
    font-family: var(--font-typo-alt);
    line-height: 1;
    padding-bottom: 6px;
    font-weight: calc(var(--font-weight-ext) + 100);
    text-decoration: none;
    color: var(--head-color);
    transition: var(--alt-transition);
}

header .site-nav ul > li a:hover,
header .site-nav ul > li a.active {
    color: var(--primary-color);
}


/* Responsive */
@media (min-width: 1025px) {
    header .site-nav ul > li a:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 2.5px;
        border-radius: 2px;
        background-image: linear-gradient(90deg, var(--primary-color), var(--primary-color));
        transition: var(--alt-transition);
    }

    header .site-nav ul > li a:hover:before,
    header .site-nav ul > li a.active:before { width: 60%; }

    .mobileMenuBtn { display: none; }
}

@media (max-width: 1280px) {
    header .site-logo img { width: 130px; }

    header .site-nav ul { gap: 40px; }

    header .site-nav ul > li a { font-size: calc(var(--font-size-base) - 1px); }
}

@media (max-width: 1024px) {
    
    header > .header-btn { display: none; }

    .site-nav > .mobileMenuBtn {
        padding: 0;
        border: 0;
        background: none;
        line-height: 0;
        font-size: 30px;
        z-index: 1;
        position: relative;
        color: var(--head-color);
        transition: var(--alt-transition);
    }

    .site-nav > .mobileMenuBtn:hover { color: var(--primary-color); }
    .site-nav > .mobileMenuBtn svg {
        width: 1em;
        height: 1em;
        transition: var(--alt-transition);
        color: inherit;
    }

    header .site-nav nav {
        padding: 60px 0 30px;
        background: var(--white-color);
        width: 300px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: var(--alt-transition);
        z-index: 1;
    }

    header .site-nav.active nav { transform: translateX(0); }

    header .site-nav ul {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    header .site-nav ul > li:not(:last-child) {
        margin-bottom: 22px;
        border-bottom: 1px solid var(--border-color);
    }

    header .site-nav ul > li a {
        padding: 0 40px 20px;
        display: block;
        opacity: 0;
        transform: translateX(50%);
        will-change: transform;
    }

    header .site-nav.active ul > li a {
        transition-delay: var(--delay);
        opacity: 1;
        transform: translateX(0);
    }

    .menuOverlay {
        position: fixed;
        inset: 0;
        background: rgb(var(--primary-color-rgb), 0.6);
        backdrop-filter: blur(10px);
        opacity: 0;
        visibility: hidden;
        transition: var(--alt-transition);
        z-index: 0;
        width: 100%;
        height: 100vh;
    }

    .menuOverlay.active { opacity: 1; visibility: visible; }
}

/* responisive */
@media (max-width: 768px) {
    .headerWrapper header { padding: 0 20px; }
}