/* Image Carousel */

.carouselWrapper .swiper-wrapper {
    align-items: stretch;
}

.carouselWrapper .swiper-wrapper .swiper-slide {
    height: auto;
    display: flex;
}

/* card */
.carouselWrapper .swiper-wrapper .swiper-slide .slideCard {
    display: grid;
    align-items: end;
    border-radius: var(--border-radius-3X);
    overflow: hidden;
    transition: var(--alt-transition);
    width: 100%;
    height: 100%;
}

.carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div {
    grid-area: 1/-1;
}

/* Media Group */

.carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.mediaGroup {
    line-height: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

.carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.mediaGroup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* Content Group */

.carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.contentGroup {
    padding: 30px;
    z-index: 1;
    color: rgb(var(--white-color-rgb),1);
    background-color: rgb(var(--primary-color-rgb),1);

    width: 100%;
    height: 100%;
    transition: var(--alt-transition);
}

.carouselWrapper .swiper-wrapper .swiper-slide.swiper-slide-active .slideCard > div.contentGroup {
    color: rgb(var(--white-color-rgb),1);
    background-color: rgb(var(--primary-color-rgb),0.96);
}

/* List */
.carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.contentGroup ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--font-size-base);
}

.carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.contentGroup ul li:not(:last-child) {
    margin-bottom: 14px;
}

.carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.contentGroup ul li .icon {
    position: relative;
    top: 3px;
    margin-right: 4px;
}

/* title */
.carouselWrapper .swiper-wrapper .swiper-slide .slideCard .title {
    margin-bottom: 20px;
    color: rgb(var(--white-color-rgb),1);
    font-size: var(--font-size-h5);
    transition: var(--alt-transition);
}

.carouselWrapper .swiper-wrapper .swiper-slide.swiper-slide-active .slideCard .title {
    color: rgb(var(--white-color-rgb),1);
}

/* image */
.carouselWrapper .swiper-wrapper .swiper-slide { cursor: grab; }

/* pagination */
.carouselWrapper > .paginationWrapper {
    margin-top: clamp(1.875rem, 1.7357rem + 0.6369vw, 2.5rem); /* min: 30px - max: 40px */
}

/* Dot Pagination */
.carouselWrapper > .paginationWrapper > .swiper-pagination-bullets {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.carouselWrapper > .paginationWrapper > .swiper-pagination-bullets > .swiper-pagination-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: var(--border-radius-part);
    background-color: var(--primary-color);
    transition: var(--alt-transition);
    cursor: pointer;
    margin: 0;
    opacity: 1;
}

/* .carouselWrapper > .paginationWrapper > .swiper-pagination-bullets > .swiper-pagination-bullet:hover, */
.carouselWrapper > .paginationWrapper > .swiper-pagination-bullets > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px;
}

.carouselWrapper .swiper-slide {
    transition: var(--alt-transition);
    filter: blur(0.5px);
    transform: scale(0.88);
}

.carouselWrapper .swiper-slide-active {
    filter: blur(0px);
    opacity: 1;
    transform: scale(1);
}


/* arrow pagination */
.carouselWrapper { position: relative; }



/* Responsive */

@media (max-width: 479px) {
    .carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.contentGroup {
        padding: 20px;
    }

    .carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.contentGroup ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .carouselWrapper .swiper-wrapper .swiper-slide .slideCard .title {
        margin-bottom: 12px;
    }

    .carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.contentGroup ul {
        font-size: calc(var(--font-size-base) - 1px);
    }
}
