/* Image Carousel */

/* card */
.carouselWrapper .swiper-wrapper .swiper-slide .slideCard {
    display: grid;
    align-items: end;
    background: var(--white-color);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius-3X);
    overflow: hidden;
    transition: var(--alt-transition);
}

.carouselWrapper .swiper-wrapper .swiper-slide-active .slideCard {
    border-color: var(--primary-color);
}

.carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div {
    grid-area: 1/-1;
}

/* Media Group */

.carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.mediaGroup {
    line-height: 0;
    position: relative;
}


/* Content Group */

.carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.contentGroup {
    padding: 12px;
    z-index: 1;
    color: var(--white-color);
    background-color: rgb(var(--primary-color-rgb),0.9);

    width: 100%;
    max-width: 400px;
    margin-left: auto;
    border-radius: var(--border-radius-2X) 0 0 0;

    opacity: 0;
    transform: translateX(20px);
    transition: var(--alt-transition);
}

.carouselWrapper .swiper-wrapper .swiper-slide.swiper-slide-active .slideCard > div.contentGroup {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 300ms;
}

/* List */
.carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.contentGroup ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: calc(var(--font-size-ext) - 2px);
}

.carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.contentGroup ul li:not(:last-child) {
    margin-bottom: 10px;
}

.carouselWrapper .swiper-wrapper .swiper-slide .slideCard > div.contentGroup ul li .icon {
    position: relative;
    top: 3px;
    margin-right: 4px;
}

/* title */
.carouselWrapper .swiper-wrapper .swiper-slide .slideCard .title {
    margin-bottom: 10px;
    color: var(--white-color);
    font-size: var(--font-size-base);
}

/* image */
.carouselWrapper .swiper-wrapper .swiper-slide { cursor: grab; }

/* pagination */
.carouselWrapper > .paginationWrapper {
    margin-top: clamp(1.875rem, 1.7357rem + 0.6369vw, 2.5rem); /* min: 30px - max: 40px */
}

/* Dot Pagination */
.carouselWrapper > .paginationWrapper > .swiper-pagination-bullets {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.carouselWrapper > .paginationWrapper > .swiper-pagination-bullets > .swiper-pagination-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: var(--border-radius-part);
    background-color: var(--primary-color);
    transition: var(--alt-transition);
    cursor: pointer;
    margin: 0;
    opacity: 1;
}

/* .carouselWrapper > .paginationWrapper > .swiper-pagination-bullets > .swiper-pagination-bullet:hover, */
.carouselWrapper > .paginationWrapper > .swiper-pagination-bullets > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px;
}

.carouselWrapper .swiper-slide {
    transition: var(--alt-transition);
    filter: blur(0.5px);
    transform: scale(0.88);
}

.carouselWrapper .swiper-slide-active {
    filter: blur(0px);
    opacity: 1;
    transform: scale(1);
}


/* arrow pagination */
.carouselWrapper { position: relative; }
