/* Image Carousel */

/* card */
.carouselWrapper .swiper-wrapper .swiper-slide .slideCard {
    padding: 0 0 clamp(0.625rem, 0.4857rem + 0.6369vw, 1.25rem); /* min: 10px - max: 20px */
    background: var(--white-color);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius-3X);
    transition: var(--alt-transition);
}

.carouselWrapper .swiper-wrapper .swiper-slide-active .slideCard {
    border-color: var(--primary-color);
}

/* title */
.carouselWrapper .swiper-wrapper .swiper-slide .slideCard .title {
    margin-top: clamp(0.625rem, 0.4857rem + 0.6369vw, 1.25rem); /* min: 10px - max: 20px */
}

/* image */
.carouselWrapper .swiper-wrapper .swiper-slide { cursor: grab; }
.carouselWrapper .swiper-wrapper .swiper-slide .slideCard img {
    border-radius: var(--border-radius-3X) var(--border-radius-3X) 0 0;
    border-bottom: 1px solid var(--border-color);
    transition: var(--alt-transition);
    filter: blur(2px);
}

/* pagination */
.carouselWrapper > .paginationWrapper {
    margin-top: clamp(1.875rem, 1.7357rem + 0.6369vw, 2.5rem); /* min: 30px - max: 40px */
}

/* Dot Pagination */
.carouselWrapper > .paginationWrapper > .swiper-pagination-bullets {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.carouselWrapper > .paginationWrapper > .swiper-pagination-bullets > .swiper-pagination-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: var(--border-radius-part);
    background-color: var(--primary-color);
    transition: var(--alt-transition);
    cursor: pointer;
    margin: 0;
    opacity: 1;
}

/* .carouselWrapper > .paginationWrapper > .swiper-pagination-bullets > .swiper-pagination-bullet:hover, */
.carouselWrapper > .paginationWrapper > .swiper-pagination-bullets > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px;
}

.carouselWrapper .swiper-slide {
    transition: var(--alt-transition);
    filter: blur(0.5px);
    transform: scale(0.88);
}

.carouselWrapper .swiper-slide-active {
    filter: blur(0px);
    opacity: 1;
    transform: scale(1);
}


/* arrow pagination */
.carouselWrapper { position: relative; }

.paginationWrapper >.arrowPagination > button {
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: var(--border-radius-full);
    cursor: pointer;
    pointer-events: all;
    line-height: 0;
    transition: var(--alt-transition);
}

.paginationWrapper >.arrowPagination > button:hover {
    background-color: var(--secondary-color);
}

.paginationWrapper >.arrowPagination > button.swiper-button-disabled { cursor: not-allowed; }

.paginationWrapper >.arrowPagination > button svg {
    width: 1em;
    height: 1em;
    font-size: 30px;
    color: inherit;
    transform: translateX(0);
    transition: var(--alt-transition);
}

.paginationWrapper >.arrowPagination > button.prevArrow:not(.swiper-button-disabled):hover svg { transform: translateX(-4px); }

.paginationWrapper >.arrowPagination > button.nextArrow:not(.swiper-button-disabled):hover svg { transform: translateX(4px); }

.paginationWrapper >.arrowPagination {
    position: absolute;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    width: 100%;
    z-index: 1;
    left: 0;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}